* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  margin: 5px 0;
  display: flex;
  gap: 5px;
}

input {
  margin: 0;
}

input:checked + input {
  color: gray;
  font-style: italic;
  text-decoration: line-through;
}
